.table-Container{
    width: 98%;
    margin: 0 auto;
}

/* table of user list data */
.table-Container table{
    width: 100%;
    border: 1px solid #8ccfef;
}

/* table header */
thead{
    color: #e12527;
    text-decoration: underline white;
}
thead th{
    border-bottom: 2px solid #8ccfef;
    padding: 5px 0px;
    font-size: 1rem;
}

thead th:not(:last-child){
    border-right: 2px solid rgb(31, 29, 29);
}

/* table body */
tbody{
    color: white;
    text-align: center;
}

tr td{
    padding: 2px 0px;
}

td .cover-Container{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e2628;
    text-align: center;
}

.cover-Container img{
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

/* vertical border separator */
tr td:not(:last-child){
    border-right: 2px solid rgb(31, 29, 29);
}
/* horizontal border */
tbody tr:not(:last-child) td{
    border-bottom: 1px solid #e12527;
}


/* empty list message */
.Empty-List{
    text-align: center;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.Empty-List #header{
    font-size: 1.4rem;
    font-weight: 600;
}