*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: burlywood;
    border-bottom: 3px solid white;
}

.logo{
    color: white;
    font-size: 30px;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-left: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.5s;
}

.nav-links a:hover{
    text-decoration: underline;
    color: darkred;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: burlywood;
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes FadeNavLink{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.b-toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.b-toggle .line2{
    opacity: 0;
}
.b-toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.bg{
    /* position: absolute; */
    height: 82vh;
    width: 100vw;
    top: 8;
    left: 0;
    background: url(Images/library_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search-box{
    position: absolute;
    top: 40%;
    left: 50%;
    height: 60px;
    padding: 10px;
    background: burlywood;
    transform: translate(-50%, 50%);
    border: 2px solid white;
    border-radius: 40px;
}

.search-box:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .searchButton{
    background: white;
    color: burlywood;
}

.searchButton{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px){
    .search-box:hover > .searchInput{
        width: 150px;
        padding: 0, 6px;
    }
}

.trending{
    position: relative;
    background-color: burlywood;
    width: 100vw;
    border-top: 3px solid white;
}

.trending h2{
    text-align: center;
    color: white;
    text-decoration: underline;
    padding: 20px;
    font-size: 34px;
}

#trending-output{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.Trending-output-items{
    color: white;
    padding: 10px;
    text-align: center;
}

.Trending-output-items img{
    max-width: 100%;
    max-height: 70%;
    border: 3px solid white;
}

.Trending-output-items h3{
    text-decoration: underline;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px){
    #trending-output{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}

@media screen and (max-width: 400px){
    #trending-output{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }
}

/* search results */
.search-results{
    position: relative;
    background-color: burlywood;
    width: 100vw;
    border-top: 3px solid white;
}

#result-count{
    color: white;
    text-decoration: underline;
    padding: 20px;
    font-size: 18px
}

#results-output{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.Result-output-items{
    color: white;
    padding: 10px;
    text-align: center;
}

.Result-output-items img{
    max-width: 100%;
    max-height: 50%;
    border: 3px solid white;
}

.Result-author-items{
    color: white;
}

.Result-author-items a{
    text-decoration: underline;
    color: white;
}

.Result-author-items a :hover{
    color: darkred;
    text-decoration: underline 3px;
}

@media screen and (max-width: 768px){
    #results-output{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    #result-count{
        color: white;
        text-decoration: underline;
        padding: 20px;
        font-size: 16px
    }
}

footer{
    background: burlywood;
    height: auto;
    width: 100vw;
    border-top: 3px solid white;
    color: white;
    line-height: 50px;
    padding: 0 20px;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-logo h4{
    font-size: 24px;
    margin-right: 20px;
}

.footer-links ul{
    margin-top: 0;
    list-style: none;
    padding: 0;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer-links li{
    display: inline-block;
    padding: 0 15px;
}

.footer-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.footer-links a:hover{
    text-decoration: underline;
    color: darkred;
}

.copyright {
    text-align: center;
    font-size: 12px;
}

/* styling for search bar on search page */
.search{
    display: flex;
    justify-content: center;
}

#searchForm{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: white; */
}

#SearchCategory{
    border: none;
    outline: none;
    border-bottom: .5em solid wheat;
    background: #87addebe;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 90px;
}

#searchInput{
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .5em solid #87adde;
    background: #87addebe;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 300px;
}

#searchForm button{
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .5em solid wheat;
    background: #87addebe;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 90px;
}

#searchForm button:active{
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .5em solid #87addebe;
    background: wheat;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 90px;
}

@media screen and (max-width: 540px){
    #searchForm{
        padding: 5px;
    }
    
    #SearchCategory{
        width: 70px;
    }
    
    #searchInput{
        width: 180px;
    }
    
    #searchForm button{
        width: 70px;
    }
}