<header>
    <div class="container">
        <a routerLink="/home"><img src="assets/Logo2Transparent.png" alt="BiblioSync logo" class="logo"></a>

        <nav>
            <ul class="nav-list">
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
                <li><a routerLink="/list" routerLinkActive="active">My List</a></li>
            </ul>
        </nav>
    </div>
</header>