.widget-content{
    padding: 0.8rem 1rem;
    width: 100%;
    height: 310px;
    overflow: hidden;
    position: relative;
}

.arrow{
    font-size: 2.2rem;
    color: #9e2628;
    padding: 10px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}
.left-arrow{ left: 10px;}
.right-arrow{ right: 10px;}

.cards-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: transform 0.5s ease;
}

.carousel-card{
    background-color: #020d11;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 260px;
    height: 280px;
}

.card-img-container{
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e2628;
    text-align: center;
}

img{
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

button{
    background-color: #e33638;
    border: 1px solid white;
    border-radius: 10px;
    width: 120px;
    height: 25px;
    font-weight: bold;
}

button:hover{
    background-color: #9e2628;
}

.card-info{
    text-align: center;
    color: #8ccfef;
    width: 95%;
}

.card-info p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.no-books{
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-books p{
    font-size: 2.2rem;
    text-align: center;
    color: #e33638;
    font-weight:600;
}