<div class="widget-content">
    <div class="arrow left-arrow" (click)="goToPrevious()">&#10094;</div>

    <div class="cards-container">
        <div class="carousel-card" *ngFor="let book of visibleBooks;" [hidden]="books.length === 0">
            <div class="card-img-container">
                <img [src]="book.cover" [alt]="book.title">
            </div>

            <button (click)="printBook(book)">Add To List</button>
            
            <div class="card-info">
                <p [style.font-weight]="'bold'">{{book.title}}</p>
                <p>{{book.author}}</p>
                <p>{{book.publishYear}}</p>
            </div>
        </div>
        <div class="no-books" *ngIf="books.length === 0">
            <p>Can't find trending books at the moment 
                <br>Try again in a few minutes</p>
        </div>
    </div>
    <div class="arrow right-arrow" (click)="goToNext()">&#10095;</div>
</div>