.search-bar{
    background-color: #0b88c2;
    border-radius: 10px;
    border: 2px solid #8ccfef;
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: 20px; margin-top: 20px;
    font-size: 1.2rem;
    display: flex;
}

.search-bar button,
.search-bar input, 
.search-bar select{
    font-size: 1.2rem;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
}

.search-bar input{
    flex-grow: 1;
    border: 2px solid #8ccfef;
    border-bottom: 0px; border-top: 0px;
}

.search-bar button:hover{
    color: white;
}

.search-results-container{
    background-color: hsl(199, 76%, 74%, 5%);
    padding: 10px;
    margin: 0 auto;
    width: 98%;
    border-radius: 5px;
    border: 1px dotted #8ccfef;
    color: white;
    margin-bottom: 20px;
}

#results-count{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
}

.results-cards{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.carousel-card{
    background-color: #020d11;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 260px;
    height: 280px;
}

.card-img-container{
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e2628;
    text-align: center;
}

img{
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}

button{
    background-color: #e33638;
    border: 1px solid white;
    border-radius: 10px;
    width: 120px;
    height: 25px;
    font-weight: bold;
}

button:hover{
    background-color: #9e2628;
}

.card-info{
    text-align: center;
    color: #8ccfef;
    width: 95%;
}

.card-info p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.no-books{
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #e33638;
}