<form #searchForm="ngForm" (ngSubmit)="submitSearchForm()">
    <div class="search-bar">
        <select name="search-type" [(ngModel)]="searchType">
            <option *ngFor="let type of searchTypes"
                [value]="type">
                {{type}}
            </option>
        </select>
        <input name="queryInput" type="text" placeholder="Search"
            [(ngModel)]="query"
            #searchInput="ngModel"
            required>
        <button type="submit" [disabled]="searchForm.invalid">Search</button>
    </div>
    <div class="error" *ngIf="searchInput.errors?.['required'] && searchInput.touched">
        Input is required to search!
    </div>
</form>

<div class="search-results-container">
    <div id="results-count" *ngIf="currentlySearching">Results found: {{books.length}}</div>
    <div class="results-cards" [hidden]="books.length === 0">
        <div class="carousel-card" *ngFor="let book of books">
            <div class="card-img-container">
                <img [src]="book.cover" [alt]="book.title">
            </div>

            <button (click)="openModal(book)">Add To List</button>
            
            <div class="card-info">
                <p [style.font-weight]="'bold'">{{book.title}}</p>
                <p>{{book.author}}</p>
                <p>{{book.publishYear}}</p>
            </div>
        </div>
        <div class="no-books" *ngIf="books.length === 0">
            <p>Try and search for something...</p>
        </div>
    </div>
</div>
