/* hero section */
.home-hero{
    background-image: linear-gradient(to top right, rgba(2,13,17, 1) 10%, rgb(0, 119, 175, 0.85) 50%, rgb(227, 54, 56, 0.95) 90%),url("./../../../public/assets/library.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
 }

 .column1{
    padding: 0 20px 50px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.home-hero h1{
    color: #020d11;
    text-shadow: 0 0 3px #e7f6fc;
    font-size: 2.8rem;
    font-weight: 900;
 }

 .home-hero span{
    color: #003E5F;
    text-shadow: 0 0 3px white;
 }

 .home-hero #secondTitleSpan{
    color: #e33638;
    text-shadow: 0 0 1px white;
 }

 .home-hero p{
    font-size: 1.3rem;
    color: white;
 }

 .home-hero img{
    max-width: 50%;
    align-self: center;
    padding: 0px 5px 0px 0px;
 }

 .hero-buttons{
    width: 8rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: solid 2px white;
    color: white;
    transition: 0.5s;
 }

 .signUp{
    background-color: #e33638;
    border-color: #020d11;
 }

 .signUp:hover{
    background-color: #791c1e;
    color: #ffffff9f;
 }

 .learnMore{
    background-color: transparent;
    margin-left: 30px;
 }

 .learnMore:hover{
    background-color: rgba(5, 113, 255, 0.342);
 }

 /* home search bar section */
 #search-container{
    padding: 20px;
    /* margin: 0 auto; */
}

 .search-section{
    background-color: hsl(318, 76%, 31%, 20%);
    color: #8ccfef;
    max-width:800px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: 900;
}

.searchBox{
    background-color: hsl(318, 20%, 25%);
    border: 2px solid hsl(318, 50%, 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    transition: width 2s;
}

.searchInput{
    border: none;
    background: none;
    outline: none;
    color: #8ccfef;
    font-size: 18px;
    font-weight: 600;
    width: 0;
    transition: 2.1s;
}

.searchButton{
    background: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #8ccfef;
    transition: 0.3s;
    flex-shrink: 0;
}

.searchBox:hover {
    width: 400px;
    justify-content: space-between;
}

.searchBox:hover > .searchInput {
    width: 350px;
    padding-left: 10px;
}

/* required input error in search bar */
#home-search .error{
   background-color: hsl(318, 50%, 40%);
   color: white;
   margin:0 auto;
   padding: 0 15px;
   width: fit-content;
}

/* Home page carousels */
.widget-container{
   margin: 0 auto;
   margin-bottom: 1em;
   width: 90%;
   background-color: hsl(199, 76%, 74%, 5%);
   padding: 5px;
}

.widget-header{
   color: #e33638;
   padding: .5rem;
   padding-bottom: 0;
   font-size: 12px;
   border-bottom: 1px solid rgb(61, 61, 61);
}