<main>
    <div class="home-hero">
        <div class="column1">
            <h1>Track your reading with <span>Biblio</span><span id="secondTitleSpan">Sync</span></h1>
            <p>Keep track of books you've read, are reading and want to read</p>
            <div>
                <button class="signUp hero-buttons">Sign Up</button>
                <button class="learnMore hero-buttons">Learn more</button>
            </div>
        </div>
        <img src="assets/floating-list-items.png" alt="list example">
    </div>
    <div id="search-container">
        <div class="search-section">
            Search for a book:
            <form id="home-search" #searchForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="searchBox">
                    <input 
                        class="searchInput" 
                        type="text"
                        placeholder="Search"
                        name="searchInput"
                        [(ngModel)]="searchQuery"
                        required
                        #searchInput="ngModel">
                    <button class="searchButton" type="submit" [disabled]="searchForm.invalid">
                        <i class="material-symbols-outlined">
                            Search</i>
                    </button>
                </div>
                <div class="error" *ngIf="searchInput.errors?.['required'] && searchInput.touched">
                    Input is required to search 
                </div>
            </form>
        </div>
    </div>
    <div class="widget-container">
        <div class="widget-header">
            <h2>Trending Books:</h2>
        </div>
        <bib-carousel [books]="trendingBooks"></bib-carousel>
    </div>
    <div class="widget-container">
        <div class="widget-header">
            <h2>Classic Books:</h2>
        </div>
        <bib-carousel [books]="classicBooks"></bib-carousel>
    </div>
    <div class="widget-container">
        <div class="widget-header">
            <h2>Fiction Books:</h2>
        </div>
        <bib-carousel [books]="fictionBooks"></bib-carousel>
    </div>
</main>
