<main>
    <div class="home-hero">
        <div class="column1">
            <h1>Track your reading with <span>Biblio</span><span id="secondTitleSpan">Sync</span></h1>
            <p>Keep track of books you've read, are reading and want to read</p>
            <div>
                <button class="signUp hero-buttons">Sign Up</button>
                <button class="learnMore hero-buttons">Learn more</button>
            </div>
        </div>
        <img src="assets/floating-list-items.png" alt="list example">
    </div>
    <div id="search-container">
        <div class="search-section">
            Search for a book:
            <form id="home-search">
                <div class="searchBox">
                    <input class="searchInput" type="text" placeholder="Search">
                    <button class="searchButton">
                        <i class="material-symbols-outlined">
                            Search</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="widget-container">
        <div class="widget-header">
            <h2>Trending Books:</h2>
        </div>
        
    </div>
    <div class="widget-container">
        <div class="widget-header">
            <h2>Classic Books:</h2>
        </div>
        
    </div>
    <div class="widget-container">
        <div class="widget-header">
            <h2>Fiction Books:</h2>
        </div>
        
    </div>
</main>
